<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="//127.0.0.1:3000/public/src/css/index/index.css">
</head>
<body>
    <div class="demo1"></div>
    <input type="checkbox" checked="true"/>

    <script src="//127.0.0.1:3000/public/src/js/lib/jquery-1.10.2.min.js"></script>
    <script src="//127.0.0.1:3000/public/src/js/lib/seajs/sea.js"></script>
    <script src="//127.0.0.1:3000/public/src/js/about/index_main.js"></script>
</body>
</html>
